# Node.js / Next.js files
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Python files
**/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/.env
backend/static/tailored_resume_*.pdf
backend/static/screenshots/
backend/db/

# System / IDE files
.DS_Store
.vscode/
.idea/
.pytest_cache/
